/*====================
        Fonts
 font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
====================*/
* {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: pink;
  padding: 0;
}
#bullshit {
  padding: 3% 15%;
}
.navbar .navbar-brand {
  margin-right: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.col-lg-6 h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}
.nav-link {
  font-size: 1.2rem;

  margin: auto 1.5rem;
}

#navbarSupportedContent .ml-auto {
  width: 50%;
}

.col-lg-6 img {
  margin-top: 1rem;
  margin-left: 3rem;
  transform: rotate(20deg);
  width: 50%;
}
.phone img {
  position: absolute;
  z-index: 3;
}

.col-lg-6 nav .navbar-brand {
  margin-left: -1rem;
}
/*==============
    Title
==============*/

.btn-dark {
  margin-left: 1rem;
}

.col-lg-6 button {
  margin-top: 3rem;
}
.naked {
  margin-top: 4rem;
}
/*========================
      2nd Section
========================*/
#features {
  margin: 10% auto;
}
.col-lg-4 h3 {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.col-lg-4 p {
  text-align: center;
  padding: 5% 25%;
}
.fas {
  color: red;
}
h3 .fas:hover {
  color: blue;
}
/*===================
  Carosel
=================*/
#testimonials,
#press {
  background-color: pink;
}
.carousel-item {
  padding: 5% 10%;
  text-align: center;
}
.carousel-item img {
  border-radius: 50%;
  width: 10%;
  margin: 5% auto 1%;
}
#press {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
#press div {
  margin: 3%;
}
#press div img {
  width: 50%;
  margin: auto 25%;
}
/*==================
    Pricing Cards
===================*/
#pricing .row {
  margin-right: 0;
}

#pricing {
  text-align: center;
  /* align-items: center; */
}
#pricing h2 {
  font-weight: bold;
  font-size: 3rem;
}
.cards {
  padding: 1%;
}

#pricing .card-header {
  background-color: pink;
}
.card-body {
  text-align: center;
}
.card-body h2 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}
.card-footer {
  text-align: center;
}
.card-footer button {
  padding: 2% 5%;
  font-family: "Montserrat", sans-serif;
  background-color: pink;
  transition: 0.5s ease-out;
  border-radius: 20%;
  border-color: pink;
}
.card-footer button:hover {
  background-color: grey;
  transform: rotate(360deg);
  font-size: 1.2rem;
  font-weight: bold;
  border-color: grey;
  color: pink;
}

/* =============
    @Media
============== */
@media (max-width: 1000px) {
  .phone img {
    margin-top: 3rem;
    transform: rotate(0);
    position: relative;
    z-index: 0;
  }
  .naked {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
}
/*========================
      Last Section
========================*/

#cta {
  background-color: pink;
  text-align: center;
  padding: 3% 20%;
}
#cta h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 1rem auto 0rem;
  word-spacing: 2rem;
  position: relative;
}
#cta h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 3rem;
  word-spacing: 2rem;
}
#cta div img {
  text-align: center;
  border-radius: 100%;
  width: 40%;
}
.first {
  text-align: left;
}
.second {
  margin-top: 0rem;
  text-align: right;
}
span {
  position: absolute;
  top: 0.2rem;
  right: -7rem;
}

#cta button {
  margin-bottom: 1rem;
}
#footer {
  text-align: center;
}
#footer i {
  margin: 5%;
}
